*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 html,body{
    height: 100%;
    width: 100%;
    /* font-family: cursive; */

 }
 
 #main{
    height: 100%;
    width: 100%;
    position: relative;
    
    

 }

 /* nav-bar  */
nav{
    height: 100px;
    width: 100%;
    /* background-color: crimson; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px #dadada;

    
}

#nav h2{
    margin-left: 5vw;
    font-weight: 700;
    font-size: 2.1vw;
}

#nev-items{
    display: flex;
    gap: 4vw;
    margin-right: 30px;
}

#nev-items h4{
    font-size: 1.1;
    font-weight: 600;
    padding: 1vh;
    margin-top: 5px;
}
#nev-items button{
    font-size: 1.1vw;
    background-color: lightseagreen;
    padding: 0.7vh 1.4vw;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 600;
 }


#nev-items i{
    font-size: 1.6vw;
    font-weight: 800;
    display: none;
}

 @media (max-width: 700px){
    #nav{
        background-color: lightseagreen;
        color: #fff;
        padding: 0 5vw;
        height: 60px;
    }
    #nav h2{
        font-size: 6vw;
        margin-left: 0.2vh;
    
        
    }
    #nav h4{
        font-size: 4vw;
        display: none;

    }

    #nav i{
        display: block;
        font-size: 6vw;
        margin-right: 10px;
    }
    #nev-items button{
        font-size: 4vw;
        display: none;
    }

    #content{
        width: 100%;
        height: calc(100% - 60px);
        flex-direction: column;
        

    }
    #content .left{
        height: 55%;
        width: 100%;
        padding: 0.1vh 3.3vw;
        
    }
    #content .left h1{
        margin: 1vh 0vw;
        font-size: 10vw;
        line-height: 6vh;
        

    }
    #content .left p{
        font-size: 4vw;
        width: 90%;
        margin: 2.2vh 2.1vw;
    }
    #content .left button{
        font-size: 4vw;
        background-color: lightseagreen;
        padding: 1.1vw 1.7vh;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-weight: 600;    
            
    }
    #content .right{
        height: 45%;
        width: 100%;
        /* position: absolute; */
    }
    .right img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
 }






#content{
    height: calc(100% - 100px);
    width: 100%;
    position: relative;
    /* background-color: rgba(244, 164, 83, 0.641); */
    display: flex;
}

.left{
    height: 100%;
    width: 50%;
    /* background-color: crimson; */
    padding: 5vh 5vw;

}

.left h1{
    font-size: 4.2vw;
    line-height: 4.4vw;

}
.left h1 span{
    color: lightseagreen;
}
.left p{
    font-size: 1.2vw;
    font-weight: 600px;
    color: #666;
    width: 70%;
    margin-top: 2.2vh;
    margin-bottom: 2.2vw;

}

.right{
    height: 100%;
    width: 50%;

    /* background-color: royalblue; */
}
 .right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
 }

#content button{
    font-size: 1vw;
    background-color: lightseagreen;
    padding: 1.1vw 2.1vh;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 600;
 }



